#main-container {
    flex: 1 1 auto;
    background-color: lightblue;
    display: flex;
    padding: 5px;
}

.main-column {
    flex: 1 1 0px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.action-column {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10%;
}
.open-in-mobile{
    display: none;
}
@media screen and (max-width: 450px) {
    #main-container {
        flex-direction: column;
    } 
    .word-containers {
        display: none;
    }
    .open-in-mobile {
        display: block;
        position: sticky;
        bottom:3px;
    }
}