#counter-box {
    width: 95%;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.counter {
    font-size: 40px;
}