#header {
    padding: 5px 0px;
    background-color: aliceblue;
    flex: 0 1 auto;
}

.header-button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;

}

.start {
    background-color: red;
    color: white;
}